# Coding Bootcamp I Practice

In [ ]:
# in a single line, divide the sum of ninety plus seventy by the product of twelve and eleven

In [1]:
(90 + 70)/(12 * 11)

1.2121212121212122

In [3]:
# in a single line, create a new variable z and set it equal to x divided the sum of x plus y
x = 10
y = 5

In [4]:
z = x/(x+y)

In [ ]:
# create a new variable called rent and set it equal to 2500
# create a new variable called rent_float, from converting rent to a floating point number
# create a new variable called rent_str, from converting rent_float to a string

In [8]:
rent = 2500
rent_float = float(rent)
rent_str = str(rent_float)

In [11]:
print(type(rent_float))
print(type(rent_str))

<class 'float'>
<class 'str'>

In [ ]:
# create a new dict variable containing the individual components of your home address

In [17]:
# create a new string from the 1st, 3rd, and 5th characters in location
city = "Los Angeles, CA 90089"

In [26]:
print(city[0, 2, 4])

LsA

In [29]:
next_str = print(city[0:6] + city[8])

Los Anl

In [ ]:
# extract the zip code characters from the end of the "location" variable and convert to integer

In [38]:
int(city[-5:])

90089

In [39]:
# write a code snippet to multiply all the items in int_list by 3, then sum the result
int_list = [2, 4, 6, 8, 10]

In [47]:
type(int_list)

list

In [64]:
print(list(int_list*3))
print(sum(int_list*3))

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
90

In [ ]:
# calculate the mean value of int_list

In [40]:
sum(int_list)/len(int_list)

6.0

In [ ]:
# write a short program to calculate the length of the hypotenuse of
# a right triangle where the other sides have lengths 3 and 4
# assign each side's length to its own variable