# Coding Bootcamp II Practice

In [2]:
# use substring indexing to get the first 5 characters after (but not including) the first appearance of "is" in sentence
sentence = "This is USC."

In [5]:
sentence[7:]

' USC.'

In [ ]:
# use substring indexing to get the first 5 characters before (but not including) the first appearance of "is" in sentence

In [6]:
sentence[:5]

'This '

In [7]:
# use substring indexing to get the last 5 characters of the string from right to left, until (but not including) the first appearance of "is" in sentence

In [9]:
sentence[-5:]

' USC.'

In [ ]:
# write a for loop that counts down from 10 to 1, printing each number as it goes

In [62]:
for i in range(10, 0, -1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [66]:
for number in range(10):
  print(number+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# explain: why does the first line work, but the second line throw an error?
# 2 + 2 == 4
# 2 + 2 = 4

In [11]:
# because the first statement is a true/false, when the second is meant to assign a value to something and will not print back the value assigned. that is not how to do a math equation in python

In [ ]:
# loop through the first 20 integers and print True if the number 80 is evenly divisible by each integer, otherwise False

In [95]:
for i in range(20):
  print(i)

  if i % 80 == 0:
    print("true")
  else:
   print("false")

0
true
1
false
2
false
3
false
4
false
5
false
6
false
7
false
8
false
9
false
10
false
11
false
12
false
13
false
14
false
15
false
16
false
17
false
18
false
19
false

In [ ]:
# loop through the numbers 1 through 15, using modulo to print 'even' if each is evenly divisible by 2, and 'odd' if not

In [96]:
for number in range(15):
  print(number)

  if number % 2 ==0:
    print("even")
  else:
    print("odd")

0
even
1
odd
2
even
3
odd
4
even
5
odd
6
even
7
odd
8
even
9
odd
10
even
11
odd
12
even
13
odd
14
even

In [ ]:
# write a function that accepts 2 arguments and uses modulo to return True if the first is evenly divisible by the second, and False if not

In [24]:
x = 20
y = 5
if x % y == 0:
  print("true")
else:
  Print("false")

true

In [ ]:
# write a function that prints all the numbers between 0 and some argument called n

In [32]:
n = 10
print(list(0, n))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
range(n)

range(0, 10)

In [34]:
list(range(n))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
list(range(n+1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]